* {
  box-sizing: border-box;
  background-color: black;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

.nav-list {
  background: none;
  position: fixed;
  display: flex;
  width: 50%;
  flex-direction: row;
  top: 5%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  justify-content: space-around;
  justify-content: flex-end;
  list-style: none;
  justify-content: space-between;
  font-size: 25px;
  background-color: rgba(114, 131, 123, 0.605);
  padding: 15px 20px 15px 50px;
  border: none;
  border-radius: 8px 0 0 8px;
}

li {
  background: none;
  font-size: 25px;
  transition: all 0.5s linear;
  cursor: pointer;
}

li:hover {
  color: rgb(196, 127, 92);
  font-weight: light;
  text-decoration: underline dotted;
}

li::before {
  content: "➜ ";
}

.header-content {
  position: fixed;
  background: none;
}

h2 {
  position: absolute;
  top: 30%;
  left: 16px;
  margin-left: 10%;
  color: white;
  font-size: 30px;
  background: none;
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  position: absolute;
  top: 34%;
  left: 16px;
  margin-left: 11%;
  color: white;
  font-size: 80px;
  background: none;
  font-family: "Space Grotesk", sans-serif;
  transition: width 2s, height 2s, transform 2s;
}

h1:hover {
  transform: rotate(360deg);
}

h1::first-letter {
  color: #5cae6a;
  font-size: 90px;
  background-color: rgb(76, 82, 79);
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
  line-height: 5px;
}

p::first-line {
  color: #5cae6a;
  font-variant: small-caps;
  padding: 2px;
  background-color: rgb(76, 82, 79);
}

p {
  position: absolute;
  top: 60%;
  left: 16px;
  margin-left: 10%;
  color: white;
  font-size: 15px;
  background: none;
}

p::first-letter {
  font-size: 20px;
}

bg-img {
  background-color: #404040;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.txt {
  position: absolute;
  top: 6%;
  left: 16px;
  margin-left: 15%;
  color: white;
  font-size: 20px;
  background: none;
  border-radius: 15px;
  padding: 10px 13px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.765);
  font-size: 18px;
  text-transform: uppercase;
  text-align: start;
}

.icon {
  position: absolute;
  top: 30px;
  left: 30px;
  background: none;
  width: 90px;
  height: 90px;
}
